// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFE80A;
$orange: #E67E22;
$green: #32B796;
$gray: #222325;
$light-gray: #F4F4F4;
$pink: #E81D76;
$light-pink: #E68A97;
$purple: #4F2C64;
