// Define variables for your color scheme

// For example:
$red: #FF083C;

$gray-dark: #231F20;
//$yellow: #FFE80A;

$green: #32B796;
$light-pink: #E68A97;



$black: #000000;
$white: #ffffff;
$dark-gray: #3a3a3a;
$light-gray: #F4F4F4;

$dark-blue: #290d53;
$light-blue: #d3e2ff;

$yellow: #fff100;
$pink: #e0278f;
$blue: #0000ff;
$cyan: #00FEB5;