// Specific CSS for your home-page

body
{
  color: white;
}

::-moz-selection { background: $yellow; }
::selection { background: $yellow; }




.customers .logo-customers {
  height: 100px;
}




.presentation {
  display: flex;
  // margin-top: 20px;
}

.presentation-text {
  margin-right: 10px;
}

.presentation-image {
  margin-left: 10px;
  vertical-align: middle;
}

h2 {
  text-align: left;
}

.presentation p {
  text-align: justify;
}

