// Specific CSS for your home-page

body
{
  color: white;
}

::-moz-selection { background: $yellow; }
::selection { background: $yellow; }




// CUSTOMERS

.customers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.customers .customers-title {
  padding-bottom: 30px;
}

.customers .customers-title h4 {
  font-family: $headers-font;
  font-size: 12px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2em;
}

.customers .customers-logos {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.customers .customers-logo {
  height: 70px;
}




.presentation {
  display: flex;
  // margin-top: 20px;
}

.presentation-text {
  margin-right: 10px;
}

.presentation-image {
  margin-left: 10px;
  vertical-align: middle;
}

h2 {
  text-align: left;
}

.presentation p {
  text-align: justify;
}

