<div class="contact">
  <h2>Nous contacter</h2>
  <div class="contact-all">
    <div class="contact-left">
      <p>Une question ? Une demande ?</p>
      <a class="btn btn-light-background" href="#">Contact us</a>
    </div>
    <div class="vl"></div>
    <div class="contact-right">
      <a href="mailto:gabriel@pitchmystartup.fr"> Send us a mail! </a>
      <br>
      <p>adresse physique</p>
    </div>
  </div>
</div>
