<div class="contact">
  <h2>Nous contacter</h2>
  <div class="contact-all">
    <div class="contact-left">
      <p>Une question ? Une demande ?</p>
      <a class="btn btn-contact" href="#">Contactez-nous !</a>
    </div>
    <div class="vl"></div>
    <div class="contact-right">
      <a href="mailto:pitchmystartup@gmail.com"> pitchmystartup@gmail.com </a>
      <br>
      <p>adresse physique</p>
    </div>
  </div>
</div>
