<div class="footer" id="footer">
  <div class="upper-planet-footer">
    <svg xmlns='http://www.w3.org/2000/svg' width='500' height='500'><circle cx='50%' cy='50%' r='250' fill='rgb(255, 222, 0)' /></svg>
  </div>
  <div class="footer-card">
    <%= image_tag "homepage/astronaute-footer.png", alt: "Illustration astronaute mascotte footer", class: "astronaute-footer" %>
    <%= image_tag "spaceship.svg", alt: "Illustration vaisseau logo footer", class: "spaceship-footer" %>
    <%= link_to "Prendre un pitch café", "mailto:jeremy@pitchmasters.co", class: "btn btn-light-background" %>
    <div class="footer-copyright">
      Made with <i class="fa fa-heart"></i> at Pitch Masters
    </div>
  </div>
</div>
