<div class="footer" id="footer">
  <div class="upper-planet-footer">
    
  </div>
  <div class="footer-card">
    <%= link_to "Prendre un café galactique", "mailto:jeremy@pitchmasters.co", class: "btn btn-light-background" %>
    <div class="footer-copyright">
      Made with <i class="fa fa-heart"></i> at Pitch Masters
    </div>
  </div>
</div>
