<div class="footer" id="footer">
  <div class="upper-planet-footer">
    
  </div>
  <div class="footer-card">
    <%= link_to "Venez prendre un café sur mars", "mailto:jeremy@pitchmasters.co", class: "btn btn-light-background" %>
    <div class="footer-copyright">
      © Pitch Masters
    </div>
  </div>
</div>
