.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.logo img {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;
}

img {}
