.banner {
  /*background-image: url('homepage/cover.jpg');
  background-size: cover;
  background-position: center;*/
  height: 70vh;
  background-color: $purple;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 52px;
  font-weight: 900;
  padding-bottom: 50px;
}

.banner h2 {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15vh;
  line-height: 1.5em;
  letter-spacing: .1em;
}

