.banner {
  /*background-image: url('homepage/cover.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;*/
  background: $blue;
  padding: 5vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: $white;
  font-size: 52px;
  font-weight: 900;
  padding-bottom: 30px;
  z-index: 100;
  text-transform: uppercase;
}

.banner h3 {
  text-align: center;
  color: $white;
  font-size: 23px;
  font-weight: 700;
  padding-bottom: 70px;
  line-height: 1.5em;
  z-index: 100;
  text-transform: none !important;
}
