.btn {
  font-weight: 900;
  font-family: $button-font;
  text-transform: uppercase;
}

.btn-dark-background {
  color: $black;
  background: $yellow;
  transition: all 0.3s ease;
}
.btn-dark-background:hover {
  background: $cyan;
  color: $black;
}

.btn-light-background {
  color: $white;
  background: $black;
  transition: all 0.3s ease;
}

.btn-light-background:hover {
  background: $cyan;
  color: $black;
}







@media screen and (min-width: 1000px) {
  
  .btn {
    padding: 14px 45px;
    font-size: 17px;
  }
  
}



@media screen and (min-width: 480px) and (max-width: 1000px) {
  
  .btn {
    padding: 12px 35px;
    font-size: 15px;
  }
  
}



@media screen and (max-width: 480px) {
  
  .btn {
    padding: 12px 35px;
    font-size: 15px;
  }
  
}






