.footer {
  background: $light-gray;
}

.footer .footer-card {
  display: flex;
  color: $white;
}

.footer-links {
  display: flex;
}

.footer-links a {
  color: $white;
  text-decoration: none;
}

.footer-links a:hover {
  color: $blue;
}

.footer .fa-heart {
  color: $red;
}






@media screen and (min-width: 1000px) {
  
  .footer {
    font-size: 16px;
  }

  .footer .footer-card {
    align-items: flex-end;
    justify-content: space-between;
    height: 300px;
    padding: 40px 50px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='400'><circle cx='50%' cy='300%' r='1200' /></svg>")  no-repeat;
  }

  .footer-links {
    align-items: center;
  }
  
  .footer-links a {
    font-size: 24px;
    padding: 0px 10px;
  }

}



@media screen and (min-width: 480px) and (max-width: 1000px) {
  
  .footer {
    font-size: 16px;
  }

  .footer .footer-card {
    align-items: flex-end;
    justify-content: space-between;
    height: 250px;
    padding: 20px 50px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='400'><circle cx='50%' cy='320%' r='1200' /></svg>")  no-repeat;
  }

  .footer-links {
    align-items: center;
  }
  
  .footer-links a {
    font-size: 24px;
    padding: 0px 10px;
  }
  
}



@media screen and (max-width: 480px) {
  
  .footer {
    font-size: 16px;
  }

  .footer .footer-card {
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
    padding: 40px 50px;
   /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='410'><circle cx='50%' cy='320%' r='1200' /></svg>")  no-repeat;
 */   background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='70%' height='400'><circle cx='50%' cy='270px' r='200' /></svg>")  no-repeat;
  }

  .footer-links {
    align-items: center;
  }
  
  .footer-links a {
    font-size: 24px;
    padding: 20px 10px;
  }
  
}



