.footer {
  background: $dark-blue;
}

.footer .footer-card {
  display: flex;
  color: $white;
}

.astronaute-footer {
  position: absolute;
}

.spaceship-footer {
  position: absolute;
}

.footer-copyright {
  font-weight: 700;
}

.footer .fa-heart {
  color: $cyan;
}






@media screen and (min-width: 1000px) {
  
  .footer {
    font-size: 16px;
    padding-top: 200px;
  }
  
  .footer .upper-planet-footer svg {
    position: relative;
    left: 10%;
    width: 600px;
    height: 600px;
    x-index: -1;
   }
  
  .footer .upper-planet-footer svg circle {
    fill: $yellow;
    r: 300px;
   }

  .footer .footer-card {
    position: relative;
    margin-top: -300px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    padding: 40px 50px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='400'><circle cx='55%' cy='300%' r='1200' fill='rgb(224, 39, 143)' /></svg>")  no-repeat;
  }
  
  .astronaute-footer {
    width: 100px;
    left: 25%;
    top: -22%;
  }
  
  .spaceship-footer {
    width: 70px;
    left: 45%;
    top: -12%;
  }
  
  .footer .btn {
    margin-left: 5%;
  }
  
  .footer-copyright {
    margin-top: 70px;
    margin-right: 5%;
    align-self: flex-end;
  }

}



@media screen and (min-width: 480px) and (max-width: 1000px) {
  
  .footer {
    font-size: 16px;
    padding-top: 70px;
  }

  .footer .footer-card {
    position: relative;
    margin-top: -100px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
    padding: 20px 50px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='400'><circle cx='55%' cy='300%' r='1200' fill='rgb(224, 39, 143)' /></svg>")  no-repeat;
  }
  
  .footer .upper-planet-footer svg {
    position: relative;
    left: 10%;
    width: 300px;
    height: 300px;
    x-index: -1;
   }
  
  .footer .upper-planet-footer svg circle {
    fill: $yellow;
    r: 150px;
   }
  
  .astronaute-footer {
    width: 80px;
    left: 25%;
    top: -22%;
  }
  
  .spaceship-footer {
    width: 60px;
    left: 45%;
    top: -15%;
  }

  .footer-copyright {
    margin-top: 70px;
  }
  
}



@media screen and (max-width: 480px) {
  
  .footer {
    font-size: 16px;
  }
  
  .footer .upper-planet-footer svg {
    position: relative;
    left: 10%;
    width: 150px;
    height: 150px;
    x-index: -1;
   }
  
  .footer .upper-planet-footer svg circle {
    fill: $yellow;
    r: 75px;
   }

  .footer .footer-card {
    position: relative;
    margin-top: -150px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 350px;
    padding: 40px 50px;
   /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='410'><circle cx='50%' cy='320%' r='1200' /></svg>")  no-repeat;
 */   background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='70%' height='400'><circle cx='55%' cy='270px' r='200' fill='rgb(224, 39, 143)' /></svg>")  no-repeat;
  }
  
  .astronaute-footer {
    width: 60px;
    left: 25%;
    top: 5%;
  }
  
  .spaceship-footer {
    width: 50px;
    left: 75%;
    top: 20%;
  }
  
  .footer .btn {
    font-size: 12px;
    padding: 12px 25px;
  }

  .footer-copyright {
    margin-top: 60px;
    font-size: 14px;
  }
  
}



