.navbar-pms {
  display: flex;
  align-items: center;
  background-color: $pink;
  padding: 16px 24px;
  justify-content: space-between;
  color: $yellow;
}

.navbar-pms a {
  color: $yellow;
  font-family: $navbar-font;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.navbar-pms .brand {
  height: 25px;
}

.navbar-pms .navbar-pms-actions {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-pms .navbar-pms-actions:hover {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-pms .navbar-pms-actions .navbar-pms-link {
  margin-left: 24px;
  color: #999999;
  text-decoration: none;
}
.navbar-pms .navbar-pms-actions .navbar-pms-link:hover {
  color: #151515;
  text-decoration: none;
}

.navbar-pms .navbar-pms-actions .avatar {
  margin-left: 24px;
}

.navbar-pms .dropdown-toggle {
  cursor: pointer;
}

.navbar-pms .navbar-pms-actions .navbar-pms-link .dropdown-toggle {
  margin: 0;
}

.navbar-pms .navbar-pms-actions .navbar-pms-link .dropdown-menu {
  margin: 0;
}

.menu-container {
  display: flex;
  align-items: center;
}

