.fonctionnement {
}

.etapes {
  display: flex;
}

.icone {
  // display: flex;
  // justify-content: space-between;
}

.avatar-bordered {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: black 1px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 2em 0;
  padding: 0;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.etapes p {
  text-align: justify;
}

.etapes h2 {
  text-align: center;
}

.etape .text-ingredient {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin: 10px;
  padding: 10px;
}
